@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../../../vendor/archilex/filament-filter-sets/resources/dist/advanced-tables.css';
@plugin "@tailwindcss/forms";

@source '../../../../app/Filament/Dashboard/**/*';
@source '../../../../resources/views/filament/dashboard/**/*';
@source '../../../../vendor/archilex/filament-filter-sets/resources/**/*.blade.php';
@source '../../../../vendor/archilex/filament-filter-sets/src/**/*.php';
