@tailwind base;
@tailwind components;
@tailwind utilities;

/* latin */
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url("~font/figtree/figtree-latin-400-normal.woff2") format('woff2'), url("~font/figtree/figtree-latin-400-normal.woff") format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url("~font/figtree/figtree-latin-ext-400-normal.woff2") format('woff2'), url("~font/figtree/figtree-latin-ext-400-normal.woff") format('woff');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url("~font/figtree/figtree-latin-500-normal.woff2") format('woff2'), url("~font/figtree/figtree-latin-500-normal.woff") format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url("~font/figtree/figtree-latin-ext-500-normal.woff2") format('woff2'), url("~font/figtree/figtree-latin-ext-500-normal.woff") format('woff');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url("~font/figtree/figtree-latin-600-normal.woff2") format('woff2'), url("~font/figtree/figtree-latin-600-normal.woff") format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url("~font/figtree/figtree-latin-ext-600-normal.woff2") format('woff2'), url("~font/figtree/figtree-latin-ext-600-normal.woff") format('woff');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Apply the Figtree font */
body {
  font-family: 'Figtree', sans-serif;
}

[x-cloak] {
  display: none;
}

@layer utilities {
  @layer responsive {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  }
}

:root {
  --popper-theme-background-color: #ffffff;
  --popper-theme-background-color-hover: #dfdfdf;
  --popper-theme-text-color: #000000;
  --popper-theme-border-width: 0px;
  --popper-theme-border-style: solid;
  --popper-theme-border-radius: 6px;
  --popper-theme-padding: 10px;
  --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
  --popper-theme-font-size: 0.9em;
}

.multiselect-tags-search:focus {
  box-shadow: none !important;
}

.tooltip {
  position: relative;
  display: inline-block;
  font-size: 0.8em;
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  z-index: 1000;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptextbottom {
  display: flex;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top: 100%;
  margin: auto;
}

.tooltip:hover .tooltiptextbottom {
  visibility: visible;
  margin-left: -100%;
}

.tooltip .tooltiptextright {
  display: flex;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  left: 100%;
  top: 0%;
  margin: auto;
}

.tooltip:hover .tooltiptextright {
  visibility: visible;
}

.wrap {
  margin: 20px auto;
  height: 0px;
  width: 0px;
  position: relative;
}

.wrap div {
  height: 10px;
  width: 4px;
  background: #fe3541;
  border-radius: 99em;
  position: absolute;
  transform-origin: center bottom;
  transform: translateY(-15px);
}

.wrap div:nth-child(1) {
  transform: rotate(12deg) translateY(-15px);
  background: #fe3541;
}

.wrap div:nth-child(2) {
  transform: rotate(24deg) translateY(-15px);
  background: #fe3d35;
}

.wrap div:nth-child(3) {
  transform: rotate(36deg) translateY(-15px);
  background: #fe5135;
}

.wrap div:nth-child(4) {
  transform: rotate(48deg) translateY(-15px);
  background: #fe6535;
}

.wrap div:nth-child(5) {
  transform: rotate(60deg) translateY(-15px);
  background: #fe7935;
}

.wrap div:nth-child(6) {
  transform: rotate(72deg) translateY(-15px);
  background: #fe8e35;
}

.wrap div:nth-child(7) {
  transform: rotate(84deg) translateY(-15px);
  background: #fea235;
}

.wrap div:nth-child(8) {
  transform: rotate(96deg) translateY(-15px);
  background: #feb635;
}

.wrap div:nth-child(9) {
  transform: rotate(108deg) translateY(-15px);
  background: #feca35;
}

.wrap div:nth-child(10) {
  transform: rotate(120deg) translateY(-15px);
  background: #fede35;
}

.wrap div:nth-child(11) {
  transform: rotate(132deg) translateY(-15px);
  background: #fef235;
}

.wrap div:nth-child(12) {
  transform: rotate(144deg) translateY(-15px);
  background: #f6fe35;
}

.wrap div:nth-child(13) {
  transform: rotate(156deg) translateY(-15px);
  background: #e2fe35;
}

.wrap div:nth-child(14) {
  transform: rotate(168deg) translateY(-15px);
  background: #cefe35;
}

.wrap div:nth-child(15) {
  transform: rotate(180deg) translateY(-15px);
  background: #bafe35;
}

.wrap div:nth-child(16) {
  transform: rotate(192deg) translateY(-15px);
  background: #a6fe35;
}

.wrap div:nth-child(17) {
  transform: rotate(204deg) translateY(-15px);
  background: #91fe35;
}

.wrap div:nth-child(18) {
  transform: rotate(216deg) translateY(-15px);
  background: #7dfe35;
}

.wrap div:nth-child(19) {
  transform: rotate(228deg) translateY(-15px);
  background: #69fe35;
}

.wrap div:nth-child(20) {
  transform: rotate(240deg) translateY(-15px);
  background: #55fe35;
}

.wrap div:nth-child(21) {
  transform: rotate(252deg) translateY(-15px);
  background: #41fe35;
}

.wrap div:nth-child(22) {
  transform: rotate(264deg) translateY(-15px);
  background: #35fe3d;
}

.wrap div:nth-child(23) {
  transform: rotate(276deg) translateY(-15px);
  background: #35fe51;
}

.wrap div:nth-child(24) {
  transform: rotate(288deg) translateY(-15px);
  background: #35fe65;
}

.wrap div:nth-child(25) {
  transform: rotate(300deg) translateY(-15px);
  background: #35fe79;
}

.wrap div:nth-child(26) {
  transform: rotate(312deg) translateY(-15px);
  background: #35fe8e;
}

.wrap div:nth-child(27) {
  transform: rotate(324deg) translateY(-15px);
  background: #35fea2;
}

.wrap div:nth-child(28) {
  transform: rotate(336deg) translateY(-15px);
  background: #35fea2;
}

.wrap div:nth-child(29) {
  transform: rotate(348deg) translateY(-15px);
  background: #35fea2;
}

.wrap div:nth-child(30) {
  transform: rotate(360deg) translateY(-15px);
  background: #35fea2;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 15px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.organism::first-letter {
  text-transform: capitalize !important;
}

.organism {
  font-style: italic;
}

.feedback {
  position: fixed;
  left: 0;
  bottom: 30%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 1px;
  padding-left: 1px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  writing-mode: vertical-lr;

  background-color: #55E;
  color: #d1d1d1;
}

.feedback:hover {
  color: #fff;
}

input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 24px;
	height: 24px;
	-webkit-appearance: none;
  /* @apply w-6 h-6 appearance-none pointer-events-auto; */
}